# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.ipynb_checkpoints/

# Data (не заливаем датасеты)
*.csv
*.parquet
*.h5
data/

# Models
*.pkl
*.joblib
*.pt
*.onnx

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env

titanic.csv
